{{define "add"}}
<!DOCTYPE html>
<html lang="ko">
{{template "head" "Add"}}
<body>
  {{template "header" "Add"}}
  <main>
   <form method="POST" action="/add">
    <input type="text" placeholder="Data for your block" required name="blockData"/>
    <button>add</button>
   </form>
  </main>
  {{template "footer"}}
</body>
</html>
{{end}}